[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hIRT"]
	path = hIRT
	url = https://github.com/xiangzhou09/hirt
[submodule "localIV"]
	path = localIV
	url = https://github.com/xiangzhou09/localiv
[submodule "rbw"]
	path = rbw
	url = https://github.com/xiangzhou09/rbw
[submodule "strat"]
	path = strat
	url = https://github.com/xiangzhou09/strat
